{% extends 'base.html' %}
{% load static %}
{% block active_thread_create %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <h1>スレッド作成</h1>
        <!--<div class="row">-->
            <form method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="title" class="form-control" placeholder="thread name"
                           aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
                    </div>
                </div>
            </form>
        <!--</div>-->
    </div>
</div>
{% endblock %}